<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pusher - Client Events</title>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
    <script>

      // Sets the Pusher app key (using server-side value)
      var PUSHER_CONFIG = {
        APP_KEY: '<%= @app_key %>'
      };

      // Reference to timeout function (for cancellation as required)
      var timeoutRef;

      // On document ready
      $(document).ready(function() {

          // Set up Pusher logging to console
          Pusher.log = function (message) {
              if (window.console && window.console.log) {
                  window.console.log(message);
              }
          };

          // Set callback for authentication
          Pusher.channel_auth_endpoint = "/auth";
    
          // Connect to Pusher
          var pusher = new Pusher(PUSHER_CONFIG.APP_KEY);

          var channel = pusher.subscribe('private-events');

          channel.bind('client-event', function(data) {
            console.log("Received new content:" + data.content);
            $('#typehere').val(data.content);
          });

          // Setup event listener for textarea
          $('#typehere').keyup(function() {
            
            // Clear any existing timeout
            window.clearTimeout(timeoutRef);

            // Set timeout to push update event
            timeoutRef = window.setTimeout(function() {
              channel.trigger('client-event', { content: $('#typehere').val() });
            }, 200);
          });

      });

    </script>
  </head>
  <body>
    <h1>Client Events Demo</h1>
    <h2>Type something here:</h2>
    <textarea id="typehere" rows="8" cols="40"></textarea>
  </body>
</html>